body {
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
  }
  
  .content{
    height: 50%;
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 25%;
    font-size: 4rem;
    text-decoration: none;
  }

  button {
    background-color: black;
    color: white;
    height: 2em;
    width: 4em;
  }

  li {
    text-decoration: none;
  }

  /* button {
    margin-bottom: 250px;
  } */

  .navigation {
    /* position: relative; */
    overflow: hidden;
    background-color: #000000;
    margin: 0, 0, 0, 0 ;
    height: 25%;
    text-align: center;
  }
  
  .navigation h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0;
    text-decoration: none;
  }
  
  .title {
    float: none;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 25%;
    font-size: 12rem;
    letter-spacing: 1.5rem;
  } 

  .sticky {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25%;
    width: 100%;
  }

.bottom {
  color: white;
  /* padding-bottom: 20px; */
  background-color: black;
}



  margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25rem;